/* Selectmenu
----------------------------------*/
.ui-widget{
/*    font-family:'MyriadPro-Regular';*/
    font-size:13px;
}
.ui-selectmenu-item-focus{
    background:none !important;
}
.ui-selectmenu-item-focus a{
    color:#F47920 !important;
}


.ui-selectmenu {
	display: block;
	display: inline-block;
	position: relative;

	vertical-align: middle;
	text-decoration: none !important;;
	overflow: hidden;
	zoom: 1;
	margin: 5px 3px 5px 0px;
	
        background: #f8f8f8;
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
    background: linear-gradient(to bottom,  #f8f8f8 0%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0',GradientType=0 );
	
	height:30px;
	line-height:27px;
	border:1px solid #c4c4c4;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.ui-selectmenu-icon {
	position: absolute;
	width:30px;
	height:100%;
	top:0px;
	right:0px;
	background:url(/img/selectmenu-arrow.png) no-repeat center center !important;
        border-left:1px solid #D2D2D2;
}

.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0px;
        margin-top:1px;
	display: none;
	z-index: 1005;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background:#F5F5F5;
        
        border:1px solid #c4c4c4;
}  /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	
	border:1px solid #D2D2D2;
	color:#0081C4;
	background:#fff;
	position:relative;
	top:-1px;
}

.ui-selectmenu-open {
	display: block;
}

.ui-selectmenu-menu-popup {
	margin-top: -1px;
}

.ui-selectmenu-menu li {
	margin: 0;
	display: block;
	border-top: none !important;
	border-bottom:1px solid #c4c4c4 !important;
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	font-weight: normal !important;     
}
.ui-selectmenu-menu li:last-of-type {
    border-bottom:none !important;
}

.ui-selectmenu-menu li a,.ui-selectmenu-status {
	line-height: inherit;
	display: block;
	outline: none;
	text-decoration: none;
	font-weight:normal;
	text-decoration:none;
        padding:5px 5px;
}
.ui-selectmenu-menu li.ui-state-disabled a,.ui-state-disabled {
	cursor: default;
}

.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,.ui-selectmenu-hasIcon .ui-selectmenu-status
	{
	padding-left: 20px;
	position: relative;
	margin-left: 5px;
}

.ui-selectmenu-menu li .ui-icon,.ui-selectmenu-status .ui-icon {
	position: absolute;
	top: 1em;
	margin-top: -8px;
	left: 0;
}

.ui-selectmenu-status {
	height: inherit;
        line-height: inherit;
	padding:3px 15px 0px 9px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
}

.ui-selectmenu-menu li span,.ui-selectmenu-status span {
	display: block;
	margin-bottom: .2em;
}

.ui-selectmenu-menu li .ui-selectmenu-item-header {
	font-weight: bold;
}

.ui-selectmenu-menu li .ui-selectmenu-item-footer {
	opacity: .8;
}

/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group {
	font-size: 1em;
}

.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
	line-height: 1.4em;
	display: block;
	padding: .6em .5em 0;
	font-weight: bold;
}

.ui-selectmenu-menu .ui-selectmenu-group ul {
	margin: 0;
	padding: 0;
}

/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li {
	border-color: pink;
	filter: chroma(color = pink);
	width: 100%;
}

* html .ui-selectmenu-menu li a {
	position: relative
}

/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled,*+html .ui-state-disabled a {
	color: silver;
}