<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="googlebot" content="index,follow">

    <!-- Title -->
    <title>Segregatory24.pl - Segregatory reklamowe z nadrukiem, teczki, clipboadry firmowe</title>

    <!-- Templates core CSS -->
    <link href="stylesheets/application.css" rel="stylesheet">
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <!-- Favicons -->
    <link href="images/favicon/favicon.png" rel="shortcut icon">
    <link href="images/favicon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="images/favicon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/favicon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href='http://fonts.googleapis.com/css?family=Glegoo&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,latin-ext' rel='stylesheet' type='text/css'
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="javascript/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body class="index" id="to-top">

    <!-- Side nav -->
    <nav class="side-nav" role="navigation">

      <ul class="nav-side-nav">
        <li><a class="tooltip-side-nav" href="#section-1" title="" data-original-title="Segregatory24" data-placement="left"></a></li>
        <li><a class="tooltip-side-nav" href="#section-2" title="" data-original-title="Produkty" data-placement="left"></a></li>
        <li><a class="tooltip-side-nav" href="#section-3" title="" data-original-title="Sklep" data-placement="left"></a></li>
        <li><a class="tooltip-side-nav" href="#to-top" title="" data-original-title="Do góry" data-placement="left"></a></li>
      </ul>
      
    </nav> <!-- /.side-nav -->




    <!-- Jumbotron -->
    <header class="jumbotron" role="banner">

      <div class="phone">
      <div class="container">
        Biuro Obsługi Klienta <i class="fa fa-phone"></i>   (58) 683 50 30
      </div></div>
      <div class="container">
      
        <div class="row">

          <div class="col-md-4">

            <!-- Logo -->
            <figure class="text-center">
              <a href="./index.html">
                <img class="img-logo" src="images/segregatory24.png" alt="">
              </a>
            </figure> <!-- /.text-center -->

            <!-- Title -->
            <h1>"Czyli niebanalne podejście do biura i reklamy"</h1>

            <!-- Sub title -->
            <p></p>

            <!-- Info -->
            <p class="panel-infobox">
             Sprawdź jak mogą wyglądać Twoje:<br/>
             <div class="products">
             <ul class="fa-ul">
              <li><i class="fa-li fa fa-check-square"></i> Segregatory,</li>
              <li><i class="fa-li fa fa-check-square"></i> Teczki,</li>
              <li><i class="fa-li fa fa-check-square"></i>Clipboardy.</li>
             </ul>     
             </div>
             <a class="btn btn-danger" href="#section-2">Zobacz</a>  
             
            </p> <!-- /.info -->

          </div> <!-- /.col-md-4 -->

          <div class="col-md-8">

            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone effect2" src="images/iphone/2.png" alt="">
            </figure>

          </div> <!-- /.col-md-8 -->
          
        </div> <!-- /.row -->
        
      </div> <!-- /.container -->

    </header> <!-- /.jumbotron -->




    <!-- Services -->
    <section class="services-section" id="section-1">

      <div class="container">
      
        <div class="row">
 <h3>Czym się charakteryzują nasze produkty?</h3>
          <div class="col-md-4 col-services">
            
            <!-- Icons -->
            <figure>
              <img class="img-services" src="images/icons/info-01.png" alt="">
            </figure>

            <!-- Title -->
            <h4>Dowolna konfiguracja</h4>

            <!-- Description -->
            <p>Nasze produkty wykonujemy w różnych rozmiarach, wersjach, konfiguracjach. Sam określasz, co Ci jest potrzebne w Twoim biurze. Ponieważ, niezawsze jest to oczywiste i proste,Chętnie doradzimy, i pomożemy Ci w dobraniu odpowiednich opcji.</p>

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-services">
            
            <!-- Icons -->
            <figure>
              <img class="img-services" src="images/icons/info-02.png" alt="">
            </figure>

            <!-- Title -->
            <h4>Dowolny Nadruk</h4>

            <!-- Description -->
            <p>Każdy segregator, teczka, czy clipboard może mieć dowolny nadruk według Twojego projektu, nie tylko na zewnątrz, ale również w środku. Wykorzystujemy nowoczesny druk cyfrowy lub offsetowy.</p>

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-services">
            
            <!-- Icons -->
            <figure>
              <img class="img-services img-margin" src="images/icons/info-03.png" alt="">
            </figure>

            <!-- Title -->
            <h4>Efektowne wykończenie</h4>

            <!-- Description -->
            <p>To jest to czym wyróżniamy Twoje produkty, umiejętne dobranie elementów obróbki końcowej, takich jak rodzaj folii, czy lakieru UV, gwarantuje wyjątkowy i niepowtarzalny, trwały charakter ozdabianego przedmiotu.</p>

          </div> <!-- /.col-md-4 -->
          
        </div> <!-- /.row -->
        
      </div> <!-- /.container -->
      
    </section> <!-- /.services-section -->




    <!-- Features -->
    <section class="features-section" id="section-2">

      <div class="container">

        <div class="row">

          <div class="col-md-5 col-features text-center">
            
            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone" src="images/segregator.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->

          <div class="col-md-7 col-features features-content">
            
            <!-- Title -->
            <h3 id="title-1">Segregatory Reklamowe</h3>

            <!-- Description -->
            <p>
    Szukasz niebanalnej formy prezentacji, nowych pomysłów dla biura, nowych form reklamy?
    Stwórz swoją wizytówkę w postaci segregatora z firmowym nadrukiem, a klienci na pewno to zauważą. A może chcesz stworzyć katalog ofertowy lub szkoleniowy? Segregatory sprawdzą się w tej roli znakomicie.
    Oferujemy segregatory wysokiej jakości, drukowane cyfrowo, zabezpieczone eleganckim laminatem, tak aby służyły Ci jak najdłużej.
 <table class="striped">
 <tbody>
              <tr>
                <td>
                  Formaty:
                </td>
                <td>
                  A4, A5, Pionowe lub poziome.
                </td>
              </tr>
              <tr>
                <td>Szerokość: </td>
                <td>Od 22mm do 100mm | Pojemność od 9mm do 65mm wkładu</td>
              </tr>

              <tr>
                <td>
                  Mechanizmy:
                </td>        
                <td>
                  Dźwigniowe, 2-ringowe, 4-ringowe.
                </td>
                                               
              </tr>
            <tr>
                <td>
                Dodatki:     
                </td>
                <td>
                  Kółko grzbietowe, Oczka Rado, Kieszonka grzbietowa, Kieszonka trójkątna, Kieszonka na wizytówkę, Kieszonka na płytę dvd. 
                </td>
            </tr>
            <tr>
              <td>
                Uszlachetnienie:&nbsp; 
              </td>
              <td>
                Folia błyszcząca, matowa, matowa nierysująca, folia o strukturze lnu.
              </td>
            </tr>
            </tbody>
            </table>
            </p>

            
          </div> <!-- /.col-md-7 -->
          <div class="row">
        <div class="col-lg-12">
        <h4 class="heading">Przykładowe Realizacje</h4>
        <div class="row">
          <section id="projects">
          <ul id="thumbs" class="portfolio">
            <!-- Item Project and Filter Name -->
            <li class="col-lg-3 design" data-id="id-0" data-type="web">
            <div class="item-thumbs">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Segregator reklamowy" href="img/works/segregator_zamykany-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/segregator_z_nadrukiem-01.jpg" alt="Segregator z gumką, ozdobiony srebrnym akcentem oraz wybiórczym lakierem UV.">
            </div>
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Segregatory reklamowe" href="img/works/segregatory_reklamowe-02.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/segregatory_reklamowe-02.jpg" alt="Segregatory reklamowe laminowane folią błyszczącą, ozdobione złotym tłoczeniem - efekt emboss.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Segregator reklamowy" href="img/works/segregator_reklamowy-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/segregator_reklamowy-01.jpg" alt="Segregator reklamowy laminowany folią błyszczącą, promujący kampanię projektu unijnego.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-3" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Segregator reklamowy- Wzornik" href="img/works/segregatory_reklamowe-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/segregatory_reklamowe-01.jpg" alt="Seregatory reklamowe pełniące rolę wzornika dla firmy produkcyjnej.">
            </li>
            <!-- End Item Project -->
          </ul>
          </section>
        </div>
          </div>
        </div>  <!-- /.row -->
        </div> <!-- /.row -->


        <div class="row media-screen-800">

          <div class="col-md-7 col-features features-content">
            
            <!-- Title -->
            <h3 id="title-2">Teczki na dokumenty</h3>

            <!-- Description -->
            <p>
           Produkujemy teczki różnego typu i w różnych rozmiarach, jednym słowem na każdą okazję. Proponujemy teczki skrzydłowe, teczki z plastikowymi bokami, zamykane na gumkę, rzepy lub napy oraz teczki z rączką. Nasze wzmocnione teczki, możesz wykorzytać nie tylko do przechowywania dokumentów, z powodzeniem sprawdzą się w roli wzornika produktów, lub teczki-segregatora (teczka z wbudowanym mechanizmem segregatora).
           <table class="striped">
              <tr>
                <td>
                  Formaty:
                </td>
                <td>
                  A4, A5.
                </td>
              </tr>
              <tr>
                <td>Głębokość: </td>
                <td>Od 20 do 100mm</td>
              </tr>

              <tr>
                <td>
                  Zapięcia:
                </td>        
                <td>
                  Rzep Dual Lock, Napy, Zapięcie Magnesowe.
                </td>
                                               
              </tr>
            <tr>
                <td>
                Dodatki:     
                </td>
                <td>
                  Kieszonka trójkątna, Kieszonka na wizytówkę, Kieszonka na płytę dvd, Klips na długopis. 
                </td>
            </tr>
            <tr>
              <td>
                Uszlachetnienie:&nbsp; 
              </td>
              <td>
                Folia błyszcząca, matowa, matowa nierysująca, folia o strukturze lnu.
              </td>
            </tr>
            </table>
            </p>

           
          </div> <!-- /.col-md-7 -->

          <div class="col-md-5 col-features text-center">
            
            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone margin-screen-800" src="images/teczka.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->
        
        </div> <!-- /.row -->
 <div class="row">
      <div class="col-lg-12">
        <h4 class="heading">Przykładowe Realizacje</h4>
        <div class="row">
          <section id="projects-2">
          <ul id="thumbs-2" class="portfolio">
            <!-- Item Project and Filter Name -->
            <li class="col-lg-3 design" data-id="id-4" data-type="web">
            <div class="item-thumbs">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Teczka na dokumenty, promująca kampanię Euro 2012" href="img/works/7.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/7.jpg" alt="Teczka skrzydłowa z nadrukiem obustronnym, od środka i na zewnątrz, laminowana folią błyszczącą, zamykana na rzep.">
            </div>
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 design" data-id="id-5" data-type="icon">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Teczki skrzydłowe na dokumenty" href="img/works/teczki_skrzydlowe-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/teczki_skrzydlowe-01.jpg" alt="Teczki skrzydłowe, z tektury litej, laminowane folią błyszczącą, zamykane na rzep, z zamontowanym uchwytem na klucze.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-6" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Teczki na dokumenty z plastikowymi boczkami" href="img/works/teczki_z_boczkami-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/teczki_z_boczkami-01.jpg" alt="Teczki na dokumenty wzmocnione plastikowymi boczkami - poręczne i praktyczne w przechowywaniu dokumentów.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-7" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Teczki szkolne z rączką" href="img/works/teczki_z_raczka-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/teczki_z_raczka-01-s.jpg" alt="Teczki z wygodnym uchwytem i praktycznym zapięciem na napy.">
            </li>
            <!-- End Item Project -->
          </ul>
          </section>
        </div>  <!-- /.row -->
      </div>
    </div>  <!-- /.row -->



        <div class="row">

          <div class="col-md-5 col-features text-center">
            
            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone " src="images/clipboardy.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->

          <div class="col-md-7 col-features features-content">
            
            <!-- Title -->
            <h3 id="title-3">Clipboardy reklamowe</h3>

            <!-- Description -->
            <p>Clipboardy z nadrukiem, to kolejny sposób na prezentację firmy, a przy tym praktyczne narzędzie w codziennej pracy z dokumentami, znane często jako podkładka do pisania z uchwytem na dokumenty.</p>
            <table class="striped">
              <tr>
                <td>
                  Formaty:
                </td>
                <td>
                  A4, A5.
                </td>
              </tr>
              <tr>
                <td>
                  Rodzaje:
                </td>        
                <td>
                  Standardowy, zamykany.
                </td>
                                               
              </tr>
            <tr>
                <td>
                Uchwyty:     
                </td>
                <td>
                  na dokumenty, na długopis. 
                </td>
            </tr>
            <tr>
              <td>
                Uszlachetnienie:&nbsp; 
              </td>
              <td>
                Folia błyszcząca, matowa, matowa nierysująca, folia o strukturze lnu.
              </td>
            </tr>
            </table>
            

          </div> <!-- /.col-md-7 -->
         
        </div> <!-- /.row -->
 <div class="row">
      <div class="col-lg-12">
        <h4 class="heading">Przykładowe Realizacje</h4>
        <div class="row">
          <section id="projects">
          <ul id="thumbs" class="portfolio">
            <!-- Item Project and Filter Name -->
            <li class="col-lg-3 design" data-id="id-4" data-type="web">
            <div class="item-thumbs">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clipboard z nadrukiem reklamowym" href="img/works/clipboard_z_nadrukiem-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/clipboard_z_nadrukiem-01.jpg" alt="Clipboard reklamowy, laminowany folią błyszczącą, dodatkowo z uchwytem na długopis.">
            </div>
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 design" data-id="id-5" data-type="icon">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clipboardy z nadrukiem reklamowym grupy BPS" href="img/works/clipboard_z_nadrukiem-02.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/clipboard_z_nadrukiem-02.jpg" alt="Clipboardy z nadrukiem, laminowane folią, z uchwytem na dokumenty.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-6" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clipboard z nadrukiem, zamykany" href="img/works/clipboard_zamykany-01.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/clipboard_zamykany-02.jpg" alt="Clipboard z uchwytem na dokumenty, z okładką - zamykany.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-7" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clipboardy reklamowe Aviva" href="img/works/clipboardy_reklamowe-03.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb fa fa-eye"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="img/works/clipboardy_reklamowe-03-s.jpg" alt="Clipboardy reklamowe, z uchwytami na dokumenty oraz długopis.">
            </li>
            <!-- End Item Project -->
          </ul>
          </section>
        </div>  <!-- /.row -->
      </div>
    </div>  <!-- /.row -->
      </div> <!-- /.container -->

    </section> <!-- /.features-section -->




    <!-- Subscribe -->
    <section class="subscribe-section" id="section-3">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <!-- Title -->
            <h2>Zapraszamy do naszego sklepu internetowego</h2>

            <!-- Subscribe form -->
            <div class="row">

              <div class="col-md-6 col-md-offset-3 col-subscribe">

                 <!--<form class="subscribe-form form-inline" action="./index.html" role="form">

                  Input 
                  <div class="form-group">

                    <label class="sr-only" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address">

                  </div> <!-- /.form-group -->

                  <!-- Button 
                  <button class="btn btn-success" type="submit">Subscribe</button>
                  
                </form> /.subscribe-form -->



                <section class="subscribe-description">

                 <p>
              <a class="btn btn-danger" href="./sign-in.html"><i class="fa fa-shopping-cart"></i>
www.segregatory24.pl</a>
              
            </p>
                  
                </section> <!-- /.subscribe-description -->
                
              </div> <!-- /.col-md-6 -->

            </div> <!-- /.row -->
            
          </div> <!-- /.col-md-12 -->
          
        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </section> <!-- /.subscribe-section -->




    <!-- Footer -->
    <footer class="footer-section" role="contentinfo">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-footer">
            
            <!-- Footer 1 -->
            <section>
              
            </section>

            <!-- AddThis Button -->
            <ul class="addthis_toolbox addthis_default_style">

             <!-- <li><a class="addthis_button_facebook_like"></a></li>-->
             <!-- <li><a class="addthis_button_tweet"></a></li>-->

            </ul> <!-- /.addthis_toolbox -->
            <script>var addthis_config = {"data_track_addressbar":true};</script>
            <script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-"></script>

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-footer col-padding">
            
            <!-- Footer 1 -->
            <section class="text-center">
              <p>Kontakt:<br/>
                  <i class="fa fa-phone"></i> (58) 683 60 50 <br/>
                  <i class="fa fa-envelope"></i> kontakt@segregatory24.pl
              </p>
            </section>

            <!-- Social media links -->
            <ul class="social-media-links">

              
              <!--<li><a class="fa fa-facebook fb" href="#fakelinks"></a></li>-->
             <!-- <li><a class="fa fa-pinterest pn" href="#fakelinks"></a></li>-->
              
            </ul> <!-- /.social-media-links -->

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-footer">
            
            <!-- Footer 1 -->
            <section>
              <p><strong>Segregatory24.pl</strong> <br>ul. M. Płażyńskiego 6 <br>83-020 Cedry Wielkie</p>
            </section>

          </div> <!-- /.col-md-4 -->
          
        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </footer> <!-- /.footer-section -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascript/vendor/jquery-2.1.0.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/assets/application.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
  </body>
</html>
